/*---------------------------
		Accessiblity
---------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:hover,
	&:active,
	&:focus {
		background-color: $color__background-screen;
		border-radius: $border-radius;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $color__text-screen;
		display: block;

		@include font-size(0.875);

		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;

		/* Above WP toolbar. */
	}
}

/*---------------------------
		Alignments
---------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	@include center-block;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

/*---------------------------
		Clearing
---------------------------*/

.comment-content, .clearfix {
	@extend %clearfix;
}

// Clear Both
.clear-both {
	clear: both;
}

// Clear None
.clear-none {
	clear: none;
}

// Clear Left
.clear-left {
	clear: left;
}

// Clear Right
.clear-right {
	clear: right;
}

/*---------------------------
		Others
---------------------------*/

.hide, .hidden {
	display: none;
}

.row-container {
	@include flex-grid-row;

	// Nesting behavior
	& .row,
	& .row-container {
		@include flex-grid-row(nest, $base: false);

		&.collapse {
			margin-right: 0;
			margin-left: 0;
		}
	}

	// Expanded row
	&.expanded {
		@include grid-row-size(expand);
	}

	&:not(.expanded) .row,
	&:not(.expanded) .row-container {
		@include grid-row-size(expand);
	}

	&.collapse {
		& > .column {
			@include grid-col-collapse;
		}
	}

	// Undo negative margins
	// From collapsed child
	&.is-collapse-child,
	&.collapse > .column > .row,
	&.collapse > .column > .row-container {
		margin-right: 0;
		margin-left: 0;
	}

	@include grid-column-gutter($gutters: $grid-column-gutter);
}
