#site-navigation{

	clear: both;
	display: block;
	float: left;
	width: 100%;
	min-height: 50px;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;
		height: 50px;
		padding: 0px;
		ul {
			float: left;
			position: absolute;
			top: rem-calc(35);
			left: -999em;
			z-index: 99999;
			background: $white;

			// display: none;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;

			}

			&:hover > a,
			&.focus > a {
				color: $color__link-hover;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;

			// display: block;

		}
	}

	li {
		display: inline-block;
		position: relative;
		height: 100%;
		&:hover > a,
		&.focus > a {
			color: $color__link-hover;
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding-right:rem-calc(10);
		height: 100%;
		line-height: 50px;
		padding:0 rem-calc(24) ;
	}

}
.site-name, .menu-toggle{
	line-height: 50px;
}
