/*
////
/// @group Blank-Theme
////
*/

/*
/// Rem output with px fallback
/// @param {Number} $font-size [$font__base-font-size] - Font size without unit
/// @param {Number} $line-height [false] - Font line height
///
*/
@mixin font-size($font-size: $font__base-font-size, $line-height: false) {
	font-size: rem-calc($font-size);

	@if $line-height == true {
		line-height: ceil($font-size / $font__base-line-height) * $font__base-line-height / $font-size;
	}
}

/// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/// Clearfix
@mixin clearfix {
	content: "";
	display: table;
}

/// Clear after (not all clearfix need this also)
@mixin clearfix-after {
	clear: both;
}
