.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5rem;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5rem 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5rem;
}

.site-main {
	background: $white;
	padding: rem-calc(15);
}

.line {
	background: #dee6f2;
	position: relative;
	height: rem-calc(2);
	margin-bottom: rem-calc(10);
	width: 100%;
}
.line:before{
	content:'';
	background:$color__theme;
	width:30%;
	height:rem-calc(2);
	position:absolute;
}
.rt-post{

	height: 100%;
    width: 100%;
	padding: rem-calc(10);
    background-color: $white;

	.rt-post-title{
		margin: rem-calc(10) 0;
		font-weight: $SemiBold;
	}
	.rt-post-content{
		font-weight: $Regular;
		font-size: rem-calc(16);
	}
	.rt-post-btn{
		padding:rem-calc(5);
		background-color: $light-gray;
		margin-bottom: rem-calc(10);
		float: right;
		color: $black;

		&:hover {
			opacity: 0.6;
		}
	}
}
.rt-main{
	.column{
		margin-bottom: rem-calc(15);
	}
}