.rt-main{

	margin-top: rem-calc(20);

	.column{

		margin-bottom: rem-calc(10);
	}
	.rt-pagination{
		padding: rem-calc(10);
	}

	.rt-pagination{

		text-align: center;

		a{
			display: inline-block;
			padding: 0 rem-calc(24);
		}

	}

	.rt-post{

		.rt-content{
			margin: rem-calc(10) 0;
			font-size: rem-calc(20);
		}
		.rt-meta {

			span {
				display: inline-block;
				margin-right: rem-calc(2);
				font-style: italic;
			}
			.author{
				font-weight: $SemiBold;
				text-transform: capitalize;
			}
		}

		.rt-cat-list{
			a{
				display: inline-block;
				margin: rem-calc(5);
				padding: rem-calc(5);
				border-radius: rem-calc(5);
				background-color: #bcbcbc;
				color: $black;

				&:hover{
					opacity: 0.8;
				}
			}

		}

		.rt-tag-list{
			a{
				display: inline-block;
				margin: rem-calc(5);
				padding: rem-calc(2);
				border-radius: rem-calc(5);
				background-color: #bcbcbc;
				color: $black;

				&:hover{
					opacity: 0.8;
				}

			}
		}

	}

}

